@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;400;600&family=Raleway&display=swap');

$fonts-headline: 'Noto Sans Display', sans-serif;
$fonts-body: 'Raleway', sans-serif;
$background-color: #f4f9f4;
$primary: #a7d7c5;
$accent1: #74b49b;
$accent2: #5c8d89;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #1a1a1a;
$text-light: #fff;
